:root {
  --backgroud-color-primary: #252525;
  --color-text-primary: #fefefe;
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-size: 100%;
  list-style-type: none;
  background-color: var(--backgroud-color-primary);
  color: var(--color-text-primary);
  font-family: "Roboto", sans-serif;
}
.containerImg {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.containerImg > img {
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  border: var(--color-text-primary) 3px solid;
}
.container-header > h2 {
  text-align: center;
  padding-top: 25px;
  font-size: 32px;
}
.container-inf {
  display: flex;
  justify-content: center;
}
.container-list {
  list-style: none;
  margin: 30px;
}
.link {
}
.container-link {
  border: 5px solid var(--color-text-primary);
  background-color: var(--color-text-primary);
  border-radius: 25px;
  padding: 0 30px;
  color: var(--backgroud-color-primary);
  text-align: center;
}
.container-list:nth-last-child(1){
  padding-bottom: 30px;
}
footer{
  padding: 20px 0 20px 10px;
  color: white;
  display: flex;
  border-top: 2px solid rgba(250, 250, 250, 0.2);
  box-sizing: border-box;
}